<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="dynamixel_system_ros2_control" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
        <param name="port_name">/dev/ttyACM0</param>
        <param name="baud_rate">1000000</param>
        <param name="dynamixel_model_folder">/param/dxl_model</param>
        <param name="number_of_joints">1</param>
        <param name="number_of_transmissions">1</param>
        <param name="disable_torque_at_init">true</param>
        <param name="transmission_to_joint_matrix">
        1
        </param>
        <param name="joint_to_transmission_matrix">
        1
        </param>
        <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
        <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
        <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
        <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
        <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
      </hardware>

      <joint name="pedal_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <gpio name="dxl1">
        <param name="type">dxl</param>
        <param name="ID">1</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <param name="Return Delay Time">0</param>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
